<div class="jumbotron">
  <h1 class="text-center">{{ "ShoeHaven" | uppercase }}</h1>
  <p class="text-center">
    One step at a time, in our shoes. Lorem ipsum dolor sit amet, consectetur
    adipiscing elit.
  </p>
</div>
<div
  class="text-center"
  style="margin-top: 100px"
  *ngIf="(productState | async).loading"
>
  <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="!(productState | async).loading">
  <div *ngIf="userIsConsumer() === true">
    <!-- consumer component -->
    <app-consumer [user]="user" [products]="(productState | async).products">
    </app-consumer>
  </div>
  <div *ngIf="userIsAdmin() === true">
    <!-- admin component -->
    <app-admin
      [products]="(productState | async).products"
      (fetchAllProductsEmitter)="fetchAllProducts()"
    >
    </app-admin>
  </div>
</div>
